<%= search_form_for @q, url: admin_exercises_path do |f| %>

  <div class="">
    <%= f.label :name_cont, "Buscar por nombre:", class: "form-label" %>
    <div class="input-group mb-3">
      <%= f.search_field :name_cont, class: "form-control" %>
      <%= f.submit "Buscar", class: "btn btn-outline-secondary" %>
    </div>
    
    <%= f.label :muscle_group_eq, "Buscar por grupo muscular:", class: "form-label" %>
    <div class="input-group mb-3">
      <%= f.select :muscle_group_eq, Exercise::MUSCLE_GROUP.map{|o| [t("opt_muscle_group.#{o}"), o]}, {include_blank: true}, class: "form-control" %>
      <%= f.submit "Buscar", class: "btn btn-outline-secondary" %>
    </div>
  </div>

<% end %>
