<p style="color: green"><%= notice %></p>

<h2 class="mb-3">Panel de Administrador</h2>

<div id="exercises">
  <h2 class="mb-3">Ejercicios</h2>
  <%= render partial: "search" %>

  <div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <%= content_tag :th, "Imagen" %>
        <%= content_tag :th, sort_link(@q, :name, "Nombre", default_order: :desc) %>
        <%= content_tag :th, sort_link(@q, :muscle_group, "Grupo Muscular", default_order: :desc) %>
        <%= content_tag :th, "Descripcción" %>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @exercises.each do |exercise| %>
        <tr>
          <%= content_tag :td, image_tag("exercises/#{exercise.name.parameterize}.png", width: "200px") %>
          <%= content_tag :td, exercise.name %>
          <%= content_tag :td, t("opt_muscle_group.#{exercise.muscle_group}") %>
          <%= content_tag :td, sanitize(exercise.description.truncate(50)) %>
          <td>
            <%= link_to "Ver", admin_exercise_path(exercise), class: "btn btn-primary" %>
          </td>
          <td>
            <%= link_to "Editar", edit_admin_exercise_path(exercise), class: "btn btn-primary" %>
          </td>
          <td>
            <%= button_to "Borrar", admin_exercise_path(exercise), method: :delete, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>

<div>
  <%= paginate @exercises %>

  <%# Para añadir un nuevo ejercicio hay que pone primero la foto en assets/images/exercises con el mismo nombre %>
  <%#= link_to "New exercise", new_admin_exercise_path, class: "btn btn-primary" %>
</div>
