<nav class="navbar navbar-expand-lg" id="menu-home">
  <div class="container">
    <a class="navbar-brand" href="/">
      <%= image_tag("logo-hoja-transparente.png", width: "60px") %>
    </a>
    <a class="navbar-brand navbar-brand-text" href="/">Lifelift</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item d-md-none">
          <%= link_to "Registrarse", new_user_registration_path, class: "btn btn-primary" %>
        </li>
        <li class="nav-item d-md-none">
          <%= link_to "Iniciar Sesión", new_user_session_path, class: "btn btn-primary" %>
        </li>
      </ul>
      <span class="d-md-visible">
        <%= link_to "Registrarse", new_user_registration_path, class: "btn btn-primary " %>
        <%= link_to "Iniciar Sesión", new_user_session_path, class: "btn btn-primary" %>
      </span>
    </div>
  </div>
</nav>
