<main class="mb-5 container">
  <%= content_tag :h1, "Rutina #{@rutine.name}" %>

  <div id="sets">
    <h2>Series</h2>

    <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th colspan="2">Ejercicio</th>
          <th>Repeticiones</th>
          <th>Completado</th>
        </tr>
      </thead>
      <tbody>
        <% @rutine.rutine_sets.each do |set| %>
          <% next if set.new_record? %>
          <tr class="<%= "done" if set.is_done %>">
            <td>
              <%= image_tag("exercises/#{set.exercise.name.parameterize}.png", width: "200px") if set.exercise.present? %>
            </td>
            <%= content_tag :td, set.exercise.try(:name) %>
            <%= content_tag :td, set.reps %>
            <td>
            <%= "#{set.weight} Kg" if set.weight.present? %>
            </td>
            <td>
              <% if set.is_done %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
              <% else %>
                <%= form_with url: done_rutine_set_path(set) do %>
                  <%= submit_tag "Completar", class: "svg-check btn btn-primary" %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>

  <div>
    <%= link_to "Volver a mi cuenta", my_account_path, class: "btn btn-secondary mt-4" %>
  </div>
</main>
