<main class="mb-5 mt-5 container">
  <div id="<%= dom_id @user %>">
    <%= content_tag :h1, "Rutinas de #{@user.name}: #{@user.email}", class: "mb-5" %>
  </div>

  <div id="rutines">
    <h2 class="text-center mb-3 mt-3">Rutinas</h2>
    <ul class="nav nav-tabs">
      <% @weeks.each do |week| %>
        <li class="nav-item">
          <%= link_to "Semana #{week}", trainer_user_path(@user, week: week), class: "nav-link #{ "active" if week.to_s == @week }" %>
        </li>
      <% end %>
    </ul>

    <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nombre Rutina</th>
          <th>Día</th>
          <th>Semana</th>
          <th>Nutrition</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @rutines.each do |rutine| %>
          <tr>
            <%= content_tag :td, rutine.name %>
            <%= content_tag :td, rutine.day %>
            <%= content_tag :td, rutine.week %>
            <%= content_tag :td, t("opt_nutrition.#{rutine.nutrition}") %>
            <td>
              <%= link_to "Editar", edit_trainer_rutine_path(rutine), class: "btn btn-primary" %>
            </td>
            <td>
              <%= button_to "Borrar", trainer_rutine_path(rutine), method: :delete, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>

  <div>
    <%= link_to "Crear Rutina", new_trainer_rutine_path(user: @user), class: "btn btn-primary" %>
  </div>

    <% if @user.inscription.present? %>
    <h2 class="text-center mb-3 mt-3">Inscripcción</h2>
    <div class="inscription-cols mb-5">
      <p>
        <strong>Objetivos:</strong>
        <%= t("opt_goals.#{@user.inscription.goal}") %>
      </p>
      <p>
        <strong>Edad:</strong>
        <%= @user.inscription.age %>
      </p>
      <p>
        <strong>Altura:</strong>
        <%= @user.inscription.height %>
      </p>
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <p>
            <strong>Peso:</strong>
            <%= @user.inscription.weight %>
          </p>
        </div>
        <div class="col-md-12 col-lg-6">
          <p>
            <strong>Objetivo Peso:</strong>
            <%= @user.inscription.weight_goal %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <p>
            <strong>Porcentaje de Grasa Corporal:</strong>
            <%= "#{ @user.inscription.body_fat }%" if @user.inscription.body_fat.present? %>
          </p>
        </div>
        <div class="col-md-12 col-lg-6">
          <p>
            <strong>Objetivo Porcentaje de Grasa Corporal:</strong>
            <%= "#{ @user.inscription.body_fat_goal }%" if @user.inscription.body_fat_goal.present? %>
          </p>
        </div>
      </div>
      <p>
        <strong>Comentario:</strong>
        <%= @user.inscription.comment %>
      </p>
    </div>
  <% end %>

  <div>
    <%= link_to "Volver a mis usuarios", trainer_my_account_path, class: "btn btn-primary" %>
  </div>
</main>
