<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @user %>">
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= @user.is_admin ? "Sí" : "No" %>
  </p>

  <p>
    <strong>Entrenador:</strong>
    <%= @user.is_trainer ? "Sí" : "No" %>
  </p>

</div>

<div>
  <%= link_to "Editar usuario", edit_admin_user_path(@user) %> |
  <%= link_to "Volver a usuarios", admin_users_path %>

  <%= button_to "Borrar usuario", admin_user_path(@user), method: :delete %>
</div>
