<!DOCTYPE html>
<html>
  <head>
    <title>Lifelift</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= render partial: "admin/shared/menu" %>
    </header>
    <main class="container">

      <%= content_tag :div, flash[:error], class: "alert alert-danger", role: "alert" if flash[:error].present? %>
      <%= content_tag :div, flash[:alert], class: "alert alert-danger", role: "alert" if flash[:alert].present? %>
      <%= content_tag :div, flash[:notice], class: "alert alert-success", role: "alert" if flash[:noti].present? %>

      <%= yield %>
    <main>
  </body>
</html>
